<footer class="footer mt-auto py-2">
	<ul class="nav justify-content-center mb-3">
		{%- for menu in site.bootstrap.footer_menu -%}
		{%- assign url = "#" -%}

		{%- if menu.page -%}
		{%- assign my_page = site.pages | where: "path", menu.page | first -%}
		{%- assign url = my_page.url -%}
		{%- endif -%}

		{%- if menu.link -%}
		{%- assign url = menu.link -%}
		{%- endif -%}

		<li class="nav-item"><a href="{{ url }}" class="nav-link px-2 text-white">{{ menu.title }}</a></li>
		{%- endfor -%}
	</ul>
	<p class="text-center text-white">
		&copy; 2018 - {{ 'now' | date: "%Y" }} {{ site.title }}, a <a href="https://soupbowl.io">soupbowl site</a>.
	</p>
</footer>
